* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
}

.titleNavContainer{
  display: flex;
  gap: 20px;
  width: 60%;
  align-items: center;
}

.mainContainer {
  display: flex;
  padding: 100px 0px;
  height: calc(100% - 100px);
  align-items: center;
  flex-direction: column;
  min-height: calc(95vh - 40px);
}

.sectionContainer{
  width: 60%;
  margin-top: 50px;
}

.textIntro{
  font-size: 1.1rem;
}

.inputLink{
  height: 40px;
  width: 100%;
  border-radius: 3px 0px 0px 3px;
  border: none;
  padding-left: 20px;
  font-size: 1rem;
}
.inputLinkContainer{
  border: 1px solid white;
  width: 60%;
}

.btnShort{
  height: 40px;
  width: 110px;
  font-size: 1rem;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnShort:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.formLinkContainer{
  display: flex;
}

.btnLoading:hover {
  cursor: not-allowed;
}

.linkShortedContainer{
  display: flex;
  gap: 20px;
  align-items: center;

}

.linkShortedCounter{
  width: 40px;
  height: 40px;
  background-color: #ffffffde;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  font-weight: bold;
  border-radius: 5px;
}

.linksShortedCounterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.linksShortedAndCounterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerContainer {
  height: 40px;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  background-color: #6b6b6b;
}

.footerContainer{
  display: flex;
  justify-content: center;
}

.sectionContainerFooter{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rrssIcon {
  width: 25px;
  filter: invert(99%) sepia(77%) saturate(2%) hue-rotate(98deg) brightness(103%) contrast(101%);
}

.rrssIcon:hover {
  cursor: pointer;
  filter: invert(0%) sepia(77%) saturate(2045%) hue-rotate(334deg) brightness(102%) contrast(105%);
}

.rrssIconContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

.linkShortedText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.redirectContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.textRedirect{
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 40px;
}

.spinnerContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* MEDIAQUERIES */

@media (max-width:768px) {
  .sectionContainer{
    width: 90%;
  }
}